
.sidebar {
  width: 250px;
  height: fixed;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 20px;
  box-sizing: border-box;
}

.sidebarLogo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;

  color: white;
  text-decoration: none;

  border-radius: 8px;

  transition: 0.3s;
}

.sidebarLink:hover {
  background-color: #374151;
}

/* .sidebarLinkActive:hover {
  background-color:  #374151;
} */

.sidebarBottom {
  margin-top: auto;
}
.hamburger{
  display: none;
 
}



@media (max-width: 500px) {
  .hamburger{
    /* background-color: white; */
    display: block;
    position: fixed;
    color: black;
    top: 20px;
    left: 20px;
    z-index: 50;
    cursor: pointer;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    top: 0px;
    width: 250px;
    
  }

  .sidebarLogo {
    text-align: center;
    font-size: 18px;
  }

  .sidebarLink {
    justify-content: flex-start;
  }

  .sidebarLink span {
    display: inline;
  }
}


@media (max-width:764px) {
  .sidebar{
    width: 70px;
    padding: 20px 10px;
  }
  .sidebarLogo{
    text-align: center;
    font-size: 18px;
  }
  .sidebarLink{
    justify-content: center;
 
  
  }

  .sidebarLink span {
    display: none;
  }
}